* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}


/*login*/

.login {
	height: 100vh;
	width: 100%;	
}

.login .loginrow {
	height: 100vh;
}
.form {

	position: relative;
	height: 100%;
	background-color: #5F4536;
}

.form form {
	position: absolute;
	width: 50%;
	top: 25%;
	left: 25%;
	/*transform: translateY(50%);*/
}


.form form .form-group .form-control {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #896D52;
	outline: none;
	border-radius: 0px;
	color: #896D52;
	font-size: 1.3em;
}

.form form .form-group .form-control::placeholder {

	color: #896D52;
}

.form form .form-group .form-control:focus {

	border: none;
	border-bottom: 2px solid #896D52;

	outline: none;
	box-shadow: 0 0 0 transparent;
}

.welcome {
	color: #E6E6E6;
	font-size: 2em;
}

.logintext {
	font-size: 1.5em;
	color: #D8993A;
}

.loginrow nav ul {
	padding: 0;
}

.loginrow nav ul li {
	list-style: none;
	padding: 0;
}

.loginrow nav li a {
	display: inline-block;
	padding: 0;
	padding-left: 20px;
}
.forget a {
	text-decoration: none;
	color: #E6E6E6;
	font-size: 1.1em;
}

.loginbtn button {
	background-color: #D8993A;
	border: none;
	outline: none;
	border-radius: 10px;
	/*font-weight: 500;*/
	font-size: 1.3em;
	letter-spacing: 0.5px;
	padding: 10px 20px;
	color: #E6E6E6;
}

.get {
	height: 100%;
	background-color: green;
}


.slide {
	height: 100%;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
.carousel-caption {
	bottom: 50%;
}


