<!-- banner_1 -->
{% extends 'index_store.html' %}
{% load static %}
{% block content %}

  <div class="banner_5">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
          </ul>
          <p>My Cart</p>
        </div>
      </div>
    </div>
  </div>


  <section class="px-5 py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive text-center cart">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="cancel py-5"><i class="fa fa-times"></i></td>
                  <td style="background-image: url('images/product.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;" colspan="2" class="p-5"></td>
                  <td class="py-5">
                    <p class="py-0 my-0">Corn Cheese Sandwich(product Name)</p>
                    <p class="py-0 my-0">1 slice of cheese(specification)</p>
                  </td>
                  <td class="py-5">Rs 70</td>
                  <td class="d-flex justify-content-center py-5">
                    <div class="input-group w-75">
                      <input type="text" name="" class="form-control">
                    </div>
                  </td>
                  <td class="py-5">Rs 70</td>
                </tr>
                <tr>
                  <td class="cancel py-5"><i class="fa fa-times"></i></td>
                  <td style="background-image: url('images/product.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;" colspan="2" class="p-5"></td>
                  <td class="py-5">
                    <p class="py-0 my-0">Corn Cheese Sandwich(product Name)</p>
                    <p class="py-0 my-0">1 slice of cheese(specification)</p>
                  </td>
                  <td class="py-5">Rs 70</td>
                  <td class="d-flex justify-content-center py-5">
                    <div class="input-group w-75">
                      <input type="text" name="" class="form-control">
                    </div>
                  </td>
                  <td class="py-5">Rs 70</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </section>

  <section class="px-5 py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div>
            <!-- <div class="card-header">Header</div> -->
            <div class="card-body coupon border-bottom-0">
              <h6>Coupon Code</h6>
              <p>Enter your coupon code if you have one</p>
              <div class="input-group">
                <label>
                  Coupon Code
                  <input type="text" name="" class="form-control">
                </label>
              </div>
            </div>
            <div class="card-footer bg-transparent pt-4">
              <button type="submit" class="couponbtn">Apply Coupon</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <div class="card-body coupon border-bottom-0">
              <h6>Cart Totals</h6>
              <p>Subtotal <span class="float-right">Rs 140</span></p>
              <p>Delivery <span class="float-right">Rs 0</span></p>
              <p class="total pb-3">Discount <span class="float-right">Rs 0</span></p>
              <p>Total <span class="float-right">Rs 140</span></p>
            </div>
            <div class="card-footer bg-transparent pt-4">
              <button type="submit" class="couponbtn">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="px-5 suggest py-5">
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-md-6">
          <h6>Request to post blog</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-md-6">
          <form action="" class="suggestform">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="">
              <div class="input-group-append">
                <span class="input-group-text px-4">Go</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
 {% endblock content %}