<!-- banner_1 -->
{% extends 'index_store.html' %}
{% load static %}
{% block content %}





  <section class="px-5 py-5">
    <div class="container-fluid">
      <div class="row">      
        <div class="col-md-4">

          <div>
            <div class="card-body coupon border-bottom-0">
              <h6>Summary</h6>
              <a class="back_cart" href="{% url 'cart' %}"><i class="fa fa-angle-left"></i> Back to cart</a>
              <div class="table-responsive text-center cart">
                <table class="table">

                  <tbody>
                  {% for item in items %}
                    <tr>
                      <td style="background-image: url('{{ item.product.imageURL }}');background-repeat: no-repeat;background-position: center;background-size: contain;" colspan="2" class="p-5"></td>
                      <td class="py-5">
                        <p class="py-0 my-0">{{ item.product.name}}</p>
                      </td>
                      <td class="py-5">Rs {{ item.product.price}}</td>
                      <td class="py-5">
                        <p>X {{item.quantity}}</p>
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>

            </div>
            <div class="card-footer bg-transparent pt-4">

              <p>Subtotal <span class="float-right">Rs {{ order.get_cart_total }}</span></p>

            </div>
          </div>    
        </div>

        <div class="col-md-4">
          <div>
            <div class="card-body coupon border-bottom-0">
              <h6>Your Information</h6>

              <form class="pt-3" method="POST">
                  {% csrf_token %}
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="seat" placeholder="Seat Number">
                </div>
                <div class="input-group mb-2">
                  <textarea class="form-control" rows="4" name="comment" placeholder="Anything for chef"></textarea>
                </div>
                  <input type="submit" class="couponbtn" value="Place Order">
              </form>
            </div>

          </div>
        </div>
      <div class="col-md-4">
          <div>
            <div class="card-body coupon border-bottom-0">
              <h6>Cart Totals</h6>
              <p>Subtotal <span class="float-right">{{ order.get_cart_total }}</span></p>
              <p>Delivery <span class="float-right">Rs 0</span></p>
              <p>Total <span class="float-right">{{ order.get_cart_total }}</span></p>
            </div>
            <div class="card-footer bg-transparent pt-4">
            </div>
          </div>


            </div>

          </div>    
        </div>


      </div>
    </div>

  </section>
    <hr>



{% endblock content %}
