{% extends 'index_store.html' %}
{% load static %}
{% block content %}

  <!-- carousel -->
  <div class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'store/images/banner1.jpg' %}" alt="banner1">
          <div class="carousel-caption">
            <h3>We Serve Fresh Food</h3>
            <p>Have a great food!</p>
            <button>Store</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'store/images/banner1.jpg' %}" alt="banner2">
          <div class="carousel-caption">
            <h3>We Serve Fresh Foodssss</h3>
            <p>Have a great food!</p>
            <button>Store</button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'store/images/banner1.jpg' %}" alt="banner3">
          <div class="carousel-caption">
            <h3>We Serve Fresh Foodmmm</h3>
            <p>Have a great food!</p>
            <button>Store</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 4parts -->
  <section class="p-5 parts">
    <div class="container-fluid px-5 py-3">
      <div class="row">
        <div class="col-md-3 px-5 text-center my-3">
          <span class="material-icons">menu_book</span>
          <h6 class="pt-3">SELECT FOOD</h6>
          <p>Order when needed</p>
        </div>
        <div class="col-md-3 px-5 text-center my-3">
          <span class="material-icons">delivery_dining</span>
          <h6 class="pt-3">PLACE ORDER</h6>
          <p>Order when needed</p>
        </div>
        <div class="col-md-3 px-5 text-center my-3">
          <span class="material-icons">timer</span>
          <h6 class="pt-3">WAIT</h6>
          <p>Order when needed</p>
        </div>
        <div class="col-md-3 px-5 text-center my-3">
          <span class="material-icons">nightlife</span>
          <h6 class="pt-3">ENJOY</h6>
          <p>Order when needed</p>
        </div>
      </div>
    </div>
  </section>

  <!-- categories -->
  <section class="px-5 pb-5 category">
    <div class="container-fluid">
      <div class="row">
          {% for item in category %}
        <div class="col-md-4 cat1 my-3">
              <img src="{{ item.image.url }}" alt="cart1" class="img-fluid">
              <div class="text-center px-5 pt-2">
                <p><a href="{%url 'products' name=item.name%}">{{ item.name }}</a></p>
              </div>
        </div>
          {% endfor  %}






      </div>

    </div>
  </section>


  <!-- featuredproduct -->
  <section class="px-5 pb-5 food">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-12">
          <h6>Featured Products</h6>
          <h1>Our Products</h1>
          <p>Lorem ipsum dolor sit amet</p>
        </div>
      </div>
      <div class="row">
          {% for item in product %}
        <div class="col-md-3 my-3 food1">
            <img src="{{ item.image.url }}" alt="food1" class="img-fluid">
            <div class="text-center px-2 pt-2">
              <p>{{ item.name }}</p>
            </div>
        </div>
          {% endfor %}

      </div>

    </div>
  </section>


  <!-- deal -->
  <section>
    <div class="container-fluid deal" style="background-image: url('{{ today_special.image.url }}');">
      <div class="overlay">
        
      </div>
      <div class="row d-flex justify-content-end px-5">
        <div class="col-md-6 pull-left text-left">
          <h6>Best price for today</h6>
          <h1>Today's Special</h1>
          <p>{{ today_special.description }}</p>

          <div class="tdeal">
            <h1>{{ today_special.name }}</h1>
            <p>{{ today_special.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="px-5 suggest py-5">
    <div class="container-fluid">
      <div class="row py-2">
        <div class="col-md-6">
          <h6>Request to post blog</h6>
          <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br> sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="col-md-6">
          <form action="" class="suggestform">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="">
              <div class="input-group-append">
                <span class="input-group-text px-4">Go</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

 {% endblock content %}

<img src="http://127.0.0.1:8000/images/60843124.jpg">
