<!DOCTYPE html>
<html>
{%load static%}
<head>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="We're defining brands on social media">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantry - Home</title>
    <link rel="shortcut icon" type="image/png" href="https://creativefuel.io/assets/img/image20.png"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'store/assets/index.css' %}">
    <!-- font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script type="text/javascript">
		var user = '{{request.user}}'


		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    console.log('cartiiii');
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
            console.log('cart')
		}
		console.log('cart',cart)




         var updateBtns = document.getElementsByClassName('update-cart')

for (i = 0; i < updateBtns.length; i++) {
	updateBtns[i].addEventListener('click', function(){
		var productId = this.dataset.product
		var action = this.dataset.action
		console.log('productId:', productId, 'Action:', action)
		console.log('USER:', user)

		if (user == 'AnonymousUser'){
			console.log('User is not authenticated')
			addCookieItem(productId, action)

		}else{

			updateUserOrder(productId, action)
		}
	})
}

function addCookieItem(productId,action)

{
console.log("not logged in")

    if (action=='add'){
        if(cart[productId]== undefined){
            cart[productId]={'quantity':1}
    }else{
            cart[productId]['quantity']+=1
    }
}
    if (action=='remove'){
        cart[productId]['quantity']-=1

        if(cart[productId]['quantity']<=0){
        console.log('remove item')
        delete cart[productId]
        }
}
console.log('Cart:',cart)
document.cookie = 'cart='+JSON.stringify(cart)+';domain=;path=/'
location.reload()

}


function updateUserOrder(productId, action){
	console.log('User is authenticated, sending data...')

		var url = '/update_item/'

		fetch(url, {
			method:'POST',
			headers:{
				'Content-Type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body:JSON.stringify({'productId':productId, 'action':action})
		})
		.then((response) => {
		   return response.json();
		})
		.then((data) => {
		    location.reload()
		});
}

	</script>

</head>
</head>
<!--
	background color white
 	text and bg of brown  #5F4536

	twxt on brown >>light brown #896D52
	golden #D8993A

	combination with gold #E6E6E6-->
<body>


<div class="main">


  <!-- navigation -->
<nav class="navbar navbar-expand-md p-0">
    <a class="navbar-brand p-3" href="index.html">Creativefuel Eats</a>
    <button class="navbar-toggler p-3" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="material-icons">more_vert</span>
    </button>
    <div class="collapse navbar-collapse pr-0 pl-3" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item p-3">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item p-3">
          <a class="nav-link" href="shop.html">Shop</a>
        </li>
{% if active_order %}
        <li class="nav-item p-3">
<a class="nav-link">
        You have {{active_order.count}} update
</a>
        </li>
          {% endif %}

        <li class="nav-item p-3">
          <a class="nav-link" href="#">Coins Spent - {{ request.user.customer.coin_spent }}</a>
        </li> 
<!--         <li class="nav-item p-3">
          <a class="nav-link" href="blog.html">Blog</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li> -->
        <li class="nav-item p-3 cartlink" style="background-color: #E0475B;color:#fff">
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> [{{cartItems}}]</a>
        </li>    
      </ul>
    </div>  
  </nav>

{% block content %}


            {% endblock content %}



  <section class="text-center up">
    <div class="container-fluid">
      <button><i class="fa fa-angle-up"></i></button>
    </div>
  </section>

  <footer class="px-5 py-5">
    <div class="container-fluid">
      <div class="row py-3">
        <div class="col-md-3">
          <h6>Pantry</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis</p>
        </div>
        <div class="col-md-2">
          <h6>Menu</h6>
          <ul>
            <li><a href="#" title="">Home</a></li>
            <li><a href="#" title="">Shop</a></li>
            <li><a href="#" title="">About</a></li>
            <li><a href="#" title="">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>Help</h6>
          <ul>
            <li><a href="#" title="">Shipping Information</a></li>
            <li><a href="#" title="">Returns & Exchange</a></li>
            <li><a href="#" title="">Terms & Conditions</a></li>
            <li><a href="#" title="">Privacy Policy</a></li>
            <li><a href="#" title="">FAQs</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>Have a Questions?</h6>
          <p><span class="material-icons">phone</span> 000000000</p>
          <p><span class="material-icons">markunread</span> pantry@gmail.com</p>
        </div>
        <div class="col-md-1">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-whatsapp"></i>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12 pt-3">
          <p>Copyright ©2021 All rights reserved | This template is made with <i class="material-icons">favorite</i> by Creativefuel</p>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="{% static 'store/assets/index.js' %}"></script>

</body>
</html>
